<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @authorship.article %>
</p>

<p>
  <strong>Person:</strong>
  <%= @authorship.person.first_name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @authorship.position %>
</p>

<%= link_to 'Edit', edit_authorship_path(@authorship) %> |
<%= link_to 'Back', authorships_path %>
