<p id="notice"><%= notice %></p>

<p>
  <strong>Field:</strong>
  <%= @clasification.field %>
</p>

<p>
  <strong>System:</strong>
  <%= @clasification.system %>
</p>

<%= link_to 'Edit', edit_clasification_path(@clasification) %> |
<%= link_to 'Back', clasifications_path %>
